.calculator {
  width: 300px;
  margin: 150px auto;
  padding: 30px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border:  3px solid black;
}


h2 {
  font-size: 50px;
  text-align: center;
  color: black;
  margin-top: 100px;
}
